.bd{
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
.bd img {
  display: block;
  object-fit: contain;
  width:  100%;
  height: 100%;
}

.planche {
  position: relative;
  perspective: 1px;
  perspective-origin: 0 0;
  overflow-x: hidden;
  overflow-y: auto;
}

.parralax-element {
  position: absolute;
  transform-style: preserve-3d;
}

#p2 {
  height: 1080px;
}
#p10 {
  height: 870px;
}

.paralax-back {
  position: relative;
  margin-bottom: 100px;
}

.paralax-base {
  position: relative;
  margin-bottom: 105px;
  transform-origin: 0 0;
  transform: translateZ(-0.4px) scale(1.4);
}

.paralax-front {
  position: relative;
  margin-bottom: 110px;
}

.paralax-front--transform {
  transform-origin: 0 0;
  transform: translateZ(0.6px) scale(0.4);
}
